TwitchToHue/obj/project.assets.json
TwitchToHue/obj/TwitchToHue.csproj.nuget.g.targets
TwitchToHue/obj/TwitchToHue.csproj.nuget.g.props
TwitchToHue/obj/TwitchToHue.csproj.nuget.cache
TwitchToHue/obj/Debug/netcoreapp2.0/TwitchToHue.pdb
TwitchToHue/obj/Debug/netcoreapp2.0/TwitchToHue.dll
TwitchToHue/obj/Debug/netcoreapp2.0/TwitchToHue.csprojResolveAssemblyReference.cache
TwitchToHue/obj/Debug/netcoreapp2.0/TwitchToHue.csproj.FileListAbsolute.txt
TwitchToHue/obj/Debug/netcoreapp2.0/TwitchToHue.csproj.CoreCompileInputs.cache
TwitchToHue/obj/Debug/netcoreapp2.0/TwitchToHue.AssemblyInfoInputs.cache
TwitchToHue/obj/Debug/netcoreapp2.0/TwitchToHue.AssemblyInfo.cs
TwitchToHue/bin/Debug/netcoreapp2.0/TwitchToHue.runtimeconfig.json
TwitchToHue/bin/Debug/netcoreapp2.0/TwitchToHue.runtimeconfig.dev.json
TwitchToHue/bin/Debug/netcoreapp2.0/TwitchToHue.pdb
TwitchToHue/bin/Debug/netcoreapp2.0/TwitchToHue.dll.config
TwitchToHue/bin/Debug/netcoreapp2.0/TwitchToHue.dll
TwitchToHue/bin/Debug/netcoreapp2.0/TwitchToHue.deps.json
.vs/config/applicationhost.config
.vs/TwitchGrowsPlant/v15/Server/sqlite3/storage.ide-wal
.vs/TwitchGrowsPlant/v15/Server/sqlite3/storage.ide-shm
.vs/TwitchGrowsPlant/v15/Server/sqlite3/storage.ide
.vs/TwitchGrowsPlant/v15/Server/sqlite3/db.lock
