<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="twitch_grows_a_plant" />
    <add key="password" value="oauth:gp4eotvzywddewgk2xysjiihlgicaj" />
    <add key="ip" value="irc.chat.twitch.tv" />
    <add key="port" value="6667" />
    <add key="room" value="e018s" />
    <add key="ipAddress" value="123.12.123.123" />
    <add key="hueUsername" value="something" />
  </appSettings>
</configuration>